html {
  background-color: darkgrey;
}

.outerContainer {
  margin: 10px;
  padding: 10px;
}

.detailsContainer {
  background-color: rgb(183, 183, 184);
  width: 100%;
  height: 100%;
}

.fabAddIcon {
  min-height: 40px !important;
  width: 40px !important;
  height: 40px !important;
  font-size: 40px !important;
  margin: 12px 3px 12px 3px !important;
}

.plusIcon {
  font-size: 0.7em !important;
}

.mainListItems {
  font-size: 12px !important;
  padding: 6px 12px 6px 12px !important;
}

.addDeleteButtons {
  display: flex;
  justify-content: flex-end;
}

.card {
  min-width: 275;
}

.bullet {
  display: "inline-block";
  margin: "0 2px";
  transform: "scale(0.8)";
}

.title {
  font-size: 14;
}

.pos {
  margin-bottom: 12;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.container {
  margin-top: 15px;
}

.rectangle-h {
  display: inline-block;
  width: 40px;
  height: 10px;
  background: black;
}

.rectangle-w {
  display: inline-block;
  width: 10px;
  height: 405px;
  background: black;
}

.color-stackingField {
  fill: #dddddd;
}

.color-stackingField-0 {
  fill: #dddddd;
}

.color-stackingField-1 {
  fill: #c4c4c4;
}

.color-stackingField-2 {
  fill: #ababab;
}

.color-stackingField-3 {
  fill: #919191;
}

.color-stackingField-4 {
  fill: #787878;
}

.color-stackingField-5 {
  fill: #5e5e5e;
}

.color-stackingField-6 {
  fill: #454545;
}

.color-transferField {
  fill: #66ccff;
}

.color-transferField-0 {
  fill: #66ccff;
}

.color-transferField-1 {
  fill: #5cb8e6;
  fill-opacity: 0.4;
}

.color-transferField-2 {
  fill: #52a3cc;
  fill-opacity: 0.4;
}

.color-transferField-3 {
  fill: #478fb3;
  fill-opacity: 0.4;
}

.color-transferField-4 {
  fill: #3d7a99;
  fill-opacity: 0.4;
}

.color-transferField-5 {
  fill: #336680;
  fill-opacity: 0.4;
}

.color-transferField-6 {
  fill: #295266;
  fill-opacity: 0.4;
}

.color-reservedField {
  fill: #ffc90e;
  stroke: #7f8080;
}

.color-container {
  fill: #b2b2b2;
  fill-opacity: 0.1;
  stroke: #767676;
}

.rect-craneTrolley {
  fill: #cccccc;
  stroke: #2525f8;
  fill-opacity: 0.6;
}

.rect-craneGantry {
  fill: #e5c0ff;
  stroke: #fe33d5;
  fill-opacity: 0.6;
}

.rect-craneHoist {
  fill: #cccccc;
  stroke: #7b7b7b;
  fill-opacity: 0.6;
}

.fieldlayout-text {
  font-size: 15px;
  fill: #aaa;
}

.fieldlayout-item-text {
  font-size: 20px;
  fill: #000000;
}

.fieldlayout-reserved-text {
  font-size: 15px;
  fill: #515252;
}

.data-grid rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

.page-not-found {
  margin: auto;
  padding: 15%;
  text-align: center;
}
