<nav>
    <ul>
      <strong>Home</strong>
      <li><a href="scgw/index.html">SCGW ASYNC API</a></li>
      <li><a href="operations/index.html">Operations ASYNC API</a></li>
      <li><a href="operations/rest.html">Operations REST API</a></li>
      <li><a href="sci/rest.html">SCI REST API</a></li>
      <li><a href="tosgw/index.html">TOSGW ASYNCAPI</a></li>
      <li><a href="tosgw/rest.html">TOSGW REST API</a></li>
      <li><a href="scheduler/index.html">SCHEDULER ASYNC API</a></li>
      <li><a href="scheduler/rest.html">SCHEDULER REST API</a></li>
      <li><a href="dispatcher/index.html">DISPATCHER ASYNC API</a></li>
      <li><a href="dispatcher/rest.html">DISPATCHER REST API</a></li>
      <li><a href="ht/index.html">HT ASYNC API</a></li>
      <li><a href="ht/rest.html">HT REST API</a></li>
    </ul>
  </nav>