.intro {
  display: table;
  width: 100%;
  height: 100%;
  padding: 0;
  background: url(./img/terminal-transparent.png) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .overlay {
  background: rgba(0, 0, 0, 0.2);
}
.intro h1 {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-size: 42px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.intro h1 span {
  font-weight: 200;
  color: #5ca9fb;
}
.intro p {
  color: #3f51b5;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
}
header .intro-text {
  padding-top: 35px;
  padding-bottom: 20px;
  text-align: center;
}
